*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


/* stile contentitore parte centale */
.row{
  width: 100%;
}

/* stile sezione menu laterale */
.lateralmenu{
  width: calc((100% / 6) * 1);
  height: calc(100vh - 90px);
  background-color: #000;
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* stile logo */
.lateralmenu .full-logo img{
  width: 150px;
  margin-left: 30px;
  margin-top: 30px;
}

/* stile lista verticale*/

.lateralmenu .vertnav ul{
  margin-left: 30px;
  margin-top: 40px;
}

.lateralmenu .vertnav ul li{
  list-style-type: none;
  margin-top: 10px;
}

.lateralmenu .vertnav ul li i{
  margin-right: 10px;
  font-size: 18px;
}

.lateralmenu .vertnav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}


/* stile download app/user */


.download a{
  margin: 10px 0 10px 30px;
  color: #fff;
  text-decoration: none;
}

.d-links a i{
  margin: 10px 0 10px;
  padding-right: 10px;
}

/* stile sezione canzoni */
.songsection{
  width: calc((100% / 6) * 5);
  height: calc(100vh - 90px);
  background-image: linear-gradient(to right bottom, rgb(67, 66, 87), rgb(0, 0, 0)),
  linear-gradient(transparent, rgb(0, 0, 0) 70%);
  float: left;
  overflow-y: scroll;
}


.titolo{
  display: flex;
  flex-direction: column;
}

.titolo p{
  align-self: center;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.songsection h2{
  font-size: 30px;
  color: #fff;
  float: left;
  letter-spacing: 5px;
  margin: 30px 0 30px 20px;
}

.songsection a{
  float: right;
  font-size: 20px;
  margin: 30px 20px 30px 0;
  text-decoration: none;
  color: #fff;
}

.songsection a:hover{
  color: #A1A0A1;
}

.songsection .row-2{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.songsection .row-2 .song{
  margin: 20px;
  position: relative;
}

.border-circle{
  border-radius: 50%;
}

.songsection .row-2 .play{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.songsection .row-2 .play i{
  color: #fff;
  font-size: 55px;
  display: none;
}

.songsection .row-2 .song:hover{
  background: rgba(255, 0, 0, 0.5);
}

.songsection .row-2 .song:hover i{
  display: inline-block;
}

.song img{
  width: 200px;
  height: 200px;
}

/* clearfix */
.row{
  content: "";
  display: table;
  clear: both;
}


/* stile sezione player */
.player{
  width: 100%;
  height: 90px;
  background-color: #282828;
  display: flex;
}

/* sezione della canzone riprodotta */
.songtitle{
  margin: 20px;
}

.songimage{
  height: 50px;
  width: 50px;
}

.songtext{
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
}

.songtext .p1{
  padding-bottom: 15px;
}

.likeicon{
  font-size: 24px;
  line-height: 90px;
  margin-left: 30px;
}
.likeicon:hover{
  color: #fff;
}

/* sezione playerbar */

.player-controls{
  width: 40%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

/* parte superiore playerbar */
.controls{
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls a{
  color: #fff;
  font-size: 20px;
  margin: 5px 20px;
}

#pause{
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 10px;
}

.controls a:hover i{
  color: #A1A0A1;
}

/* parte inferiore navbar */
.bar-visual{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.playerbar{
  width: 80%;
  border: 2px solid #fff;
  border-radius: 3px;
  height: 2px;
  margin-top: 20px;
}


.inizio, .fine{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 15px;
  color: #fff;
}

/* sezione controllo volume */
.volumediv{
  width: 20%;
  display: flex;
  align-items: flex-end;
  align-self: flex-end;
}

.volume-control{
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.controls-v {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.controls-v a{
  color: #fff;
  font-size: 20px;
  margin: 0 20px;
}

.volumebar{
  width: 70%;
  height: 3px;
  border: 2px solid #fff;
  border-radius: 3px;
}
